body{
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
     
}
   
  /*header start*/
 .header{
     background-color: rgba(229, 84, 115, 0.10);
     margin-top:0;
     width:1920px;
     height:850px;
 
   
 }

  .head-title{
    color: #272727;
    font-family: Lato;
    font-size: 80px;
     
    font-weight: 800;
    
  }
  .head-content{
    color: rgba(39, 39, 39, 0.60);
    font-family: 'lato';
    font-size: 18px;
     margin:32px 0px;
    font-weight: 400;
    line-height: 30px;
  }
  .btn-primary{
     color:white;
     
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
  }
   .without-image{
     padding-top:100px;
     padding-left: 240px;
     
     padding-bottom: 150px;
   }
    .head-cointainer{
        display: flex;
        justify-content: space-between;
    }
       /*header end */
        
        /*section -1*/
     .flower{
               padding-top:50px;
               padding-left: 150px;
               padding-bottom:0px;
                padding-right:200px;
     }
      .first-section{
           margin-top: 100px;
            display:block;
            align-items:center;
      }
       .heading{
               text-align: center;
               align-items:center;
               margin-top: 100px;
       }
        .section-title{
          color: #272727;
          
          font-family: Lato;
          font-size: 40px;
          
          font-weight: 800;
          
        }
          .section-description{
               
            color: rgba(39, 39, 39, 0.60);
            text-align: center;
            font-family: Lato;
            font-size: 18px;

            font-weight: 400;
            line-height: 30px;
          }
          .flower-info{
             display: flex;
          }
        .flower1{
          width: 464px;
          height: 538px;
          border-radius: 300px 300px 0px 0px;
          background: rgba(167, 33, 98, 0.15);
          margin-left:100px;
           background-image:url('../Flower Asset/pngwing\ 6.png');
           background-repeat: no-repeat;
           background-position: bottom center;
 
          
        }
        .flower2{
          width: 464px;
          height: 538px;
          border-radius: 300px 300px 0px 0px;
          background: rgba(167, 33, 98, 0.15);
          margin-left:100px;
           background-image:url('../Flower Asset/pngwing\ 5.png');
           background-repeat: no-repeat;
           background-position: bottom center;
 
          
        }
        .flower3{
          width: 464px;
          height: 538px;
          border-radius: 300px 300px 0px 0px;
          background: rgba(167, 33, 98, 0.15);
          margin-left:100px;
           background-image:url('../Flower Asset/pngwing\ 7.png');
           background-repeat: no-repeat;
           background-position: bottom center;
 
          
        }
         .flower-caption{
           display: flex;
           gap:300px;
         }
           .caption1{
               margin-left: 240px;
               text-decoration:underline;
           }
           .caption2{
            margin-left: 140px;
            text-decoration:underline;
        }
        .caption3{
          margin-left: 120px;
          text-decoration:underline;
      }
 /*section 1 end */

        /*section 2 start*/
           .section-2{
            width: 1922px;
            height: 620px;
            border-radius: 8px;
            background: rgba(229, 84, 115, 0.05);
            margin-top: 130px;
            display: flex;
           }
           .picture{
            
            background-image: url('../Flower Asset/pngwing\ 8.png');
            background-repeat: no-repeat;
            width: 318px;
            height: 420px;
            margin-left: 230px;
            margin-top: 120px;
           }

            .offer{
                      align-items: center;
                      margin-left: 230px;
                      margin-top: 150px;
                      text-align: center;
            }
            .offer-title{
              color: #272727;
              font-family: Lato;
              font-size: 40px;
              
              font-weight: 800;
              
            }
             .offer-description{
              color: rgba(39, 39, 39, 0.60);
              text-align: center;
              font-family: Lato;
              font-size: 18px;
              font-weight: 400;
              line-height: 30px;
             }
            .span{
              color: rgba(229, 84, 115, 1);
            }
   /*section 3 start*/
             .section-3{
                  text-align:center;
                  margin-top:100px;
                  align-items: center;
             }
              .social{
                 display:inline-block;
              }
              .social-title{
                color: #272727;
                font-family: Lato;
                font-size: 40px;
                
                font-weight: 800;
              
              }
               .social-description{
                width:600px;
                
                color: rgba(39, 39, 39, 0.60);
                text-align: center;
                font-family: Lato;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 30px;  
              
               }

               .soical-picture{
                justify-content: space-around;
                display: flex;
                width: 80%;
                text-align: center;
                padding-left: 10%;
                gap: 24px;
                    
               }
  /*section 4 start*/
               .section-4{
                
                height: 449px;
                border-radius: 8px;
                background-image: url('../Flower Asset/Rectangle\ 9.png');
                background-repeat: no-repeat;
                background-position: center;
                margin-top: 120px;
                text-align: center;
               }
               .search-bar{
                  display:inline-block;
               }

                .search-bar-title{
                  color: #272727;
                  text-align: center;
                  font-family: Lato;
                  font-size: 40px;
                  font-weight: 800;
                  padding-top: 80px;
                }
                 .search-bar-info{
                  color: rgba(39, 39, 39, 0.60);
                  text-align: center;
                  font-family: Lato;
                  font-size: 18px;
                   
                   font-weight: 400;
                   line-height: 30px;   
                 }

                 #email{
                  width: 700px;
                  height: 50px;
                   margin-right:2px;
                  border-radius: 8px white;
                  background: #FFF;
                  font-size: large;
                 }

                  /*footer*/
                  
                 .footer{
                  width: 1922px;
                  height: 449px;
                  flex-shrink: 0;
                  background: #111010;
                  text-align: center;
                  display: inline-block;
                  margin-top: 130px;
                 }

                  .footer-title{
                    font-family: Lato;
                    font-size: 48px;
                    font-style: normal;
                    font-weight: 800;
                       
                  }
                   .white{
                    color: rgba(255, 255, 255, 1);
                   }
                    .pink{
                      color: #E55473;
                    }

                    .footer-description{
                      display: inline-block;
                      width: 625px;
                      color: rgba(255, 255, 255, 0.90);
                      font-family: Lato;
                      font-size: 18px;
                      font-weight: 400;
                      line-height: 30px;
                    }
                     .copyright{
                      color: rgba(255, 255, 255, 0.40);
                      text-align: center;
                      font-family: Lato;
                      font-size: 16px;
                      font-style: normal;
                      font-weight: 400;
                      line-height: normal;
                     }
